go 1.22.6

use (
	./installers/helios64/src
	./installers/nanopi-r4s/src
	./installers/orangepi-r1-plus-lts/src
	./installers/rock64/src
	./installers/rockpi4/src
	./installers/rockpi4c/src
	./installers/rock4cplus/src
	./installers/rock4se/src
)
